@model _1._4.Models.UserViewModel

@{
    ViewBag.Title = "Users";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("Users", "Home", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0" border="0" >
        <tr>
            <th colspan="2" align="center">Registrer en ny bruger</th>
        </tr>
        <tr >
            <td>Titel: </td>
            <td>
                @Html.TextBoxFor(Model => Model.newUser.Name)
            </td>
        </tr>
        <tr style="height:10px"></tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Registrer" /></td>
        </tr>
    </table>
}
@foreach (var item in Model.users)
{
    <div>
        @item.Name
        <hr />
    </div>
}

